<div class="container text-center mb-4">
  <img class="news-logo" src="botlerlogo.png" alt="botler logo">
  <h1>Newsletter Analytics</h1>
</div>

<div class="container subscriber-bg">
  <div class="container d-flex flex-column flex-md-row text-center justify-content-evenly p-0 pt-4 pb-5">
    <div class="container-sm border-test border text-center m-3">
      <h4>New Subscribers Yesterday</h4>
      <h3><%= @last_day_subs %></h3>
    </div>
    <div class="container-sm text-center border rounded m-3">
      <h4>Total Subscribers</h4>
      <h3><%= @total_subs %></h3>
    </div>
    <div class="container-sm text-center border rounded m-3">
      <h4>Total Unsubscribes</h4>
      <h3>1</h3>
    </div>
  </div>
  <div class="container text-center">
    <div>
      <div class="container d-flex flex-column flex-md-row text-center justify-content-between p-0 pb-2">
        <div class="newsletter">
          <h2>Newsletter Sign-up Data</h2>
        </div>
        <div class="search-box">
          <%= form_tag(subscribers_path, method: :get) do %>
          <%= text_field_tag(:search, params[:search], placeholder: "Search for keywords") %>
          <%= submit_tag ("Search") %>
          <% end %>
        </div>
      </div>

      <table class="table table-borderless table-sm link-dark">
        <thead>
          <tr>
            <th class="subscribers-link"><%= sortable "first_name", "Name" %></th>
            <th class="subscribers-link"><%= sortable "email", "Email" %></th>
            <th class="subscribers-link"><%= sortable "created_at", "Sign-up Date"%></th>
            <th>Interests</th>
          </tr>
        </thead>

        <tbody>
          <%  @subscribers.each do |subscriber| %>
            <tr>
              <td><%= subscriber.first_name %> <%= subscriber.last_name %></td>
              <td><%= subscriber.email  %></td>
              <td><%= subscriber.created_at.strftime '%e/%m/%Y' %></td>
              <td>
                <% if subscriber.innovation? %>
                  <%= "Innovation"%>
                  <% if subscriber.botler_care? || subscriber.updates? || subscriber.special_deals? %>
                    <%="|" %>
                  <% end %>
                <% end %>
                <% if subscriber.botler_care? %>
                  <%= "Botler Care"  %>
                  <% if subscriber.updates? || subscriber.special_deals? %> <%= "|" %><% end %>
                <% end %>
                <% if subscriber.updates? %>
                  <%= "Updates"  %>
                  <% if subscriber.special_deals? %> <%= "|" %><% end %>
                <% end %>
                <% if subscriber.special_deals? %>
                  <%= "Special Deals"  %>
                <% end %>
              </td>
            </tr>
          <% end %>

        </tbody>
      </table>
      <div class="container d-flex flex-column flex-md-row text-center justify-content-between p-0 pb-2">
        <div class="news-subscribers"><%= page_entries_info @subscribers %></div>
        <div class="news-pages"><%= paginate @subscribers %></div>



      </div>

    </div>
  </div>
</div>
