<h1>Newsletter Analytics</h1>

<div>
  <h2>New Subscribers Yesterday</h2>
  <h3><%= @last_day_subs %></h3>
</div>
<div>
  <h2>Total Subscribers</h2>
    <h3><%= @total_subs %></h3>
</div>
<div>
  <h2>Total Unsubscribes</h2>
  <h3>1</h3>
</div>


<div>
  <h2>Newsletter Sign-up Data</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Botler Interests</th>
        <th>Sign-up Date</th>
      </tr>
    </thead>

    <tbody>
      <%  @subscribers.each do |subscriber| %>
        <tr>
          <td><%= subscriber.first_name %> <%= subscriber.last_name %></td>
          <td><%= subscriber.email  %></td>
          <td>
            <% if subscriber.innovation? %>
              <%= "Innovation"%>
              <% if subscriber.botler_care? || subscriber.updates? || subscriber.special_deals? %>
                <%="|" %>
              <% end %>
            <% end %>
            <% if subscriber.botler_care? %>
              <%= "Botler Care"  %>
              <% if subscriber.updates? || subscriber.special_deals? %> <%= "|" %><% end %>
            <% end %>
            <% if subscriber.updates? %>
              <%= "Updates"  %>
              <% if subscriber.special_deals? %> <%= "|" %><% end %>
            <% end %>
            <% if subscriber.special_deals? %>
              <%= "Special Deals"  %>
            <% end %>
          </td>
          <td><%= subscriber.created_at.strftime '%e/%m/%Y' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
