<h1>Sign Up </h1>

<img src="http://www.fillmurray.com/200/200" alt="fill murray">
<h3>Join the Botler newsletter.</h3>
<p>Every month we send an editorial newsletter with the latest bot-tech, tips, on caring for your Botlers, upcoming products and special deals.<strong>Subscribe now and get 10% off your next purchase!</strong></p><br>

<% if @subscriber.errors.any? %>
  <ol>
    <% @subscriber.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ol>
<% end %>
<%= form_for @subscriber do |f|  %>
  <%= f.label       :first_name,"First Name:" %>
  <%= f.text_field :first_name, :required => true %>

  <%= f.label       :last_name,"Last Name:" %>
  <%= f.text_field :last_name, :required => true %>

  <%= f.label       :email,"Email: " %>
  <%= f.email_field :email, :required => true %>

  <div class="form-group form-check">
    <%= f.check_box :innovation %>
    <%= f.label :innovation, "Innovation" %>

    <%= f.check_box :botler_care %>
    <%= f.label :botler_care, "Botler care" %>

    <%= f.check_box :updates %>
    <%= f.label :updates, "Updates" %>

    <%= f.check_box :special_deals %>
    <%= f.label :special_deals, "Special deals" %>

    <%= check_box :user, :terms_of_service, class: "form-check-input", required: true %>
    <%= label :terms_of_service, class: "form-check-label" do %>
      <span>I agree with the <%= link_to 'Privacy policy ', privacy_path %>*</span>
    <% end %>
  </div>

  <%= f.submit "SIGN ME UP!" %>

<% end %>
